body {
    background-color: lightgrey;
}

.aboutbox {
    background-color: lightgrey;
    width: 850px;
    padding: 15px;  
    margin: 10px;
    position: absolute;
    left: 35%;
    top: 30%; 
}

.aboutpage {
    text-align: center;
}

.fishtank {
    position: absolute;
    width: 30%;
    height: 40%;
    left: 5%;
}

.contactinfo {
    text-align: center;
}

.fishtank2 {
    position: relative;
    width: 30%;
    height: 80%;
    left: 35%;
    background-color: white;
}

.contactlist {
    background-color: white;
    width: 30%;
    padding: 15px;  
    margin: 10px;
    position: absolute;
    left: 34.3%;
    top: 52%; 
}

.phone {
    text-align: center;
}

.myname {
    text-align: center;
}

.email {
    text-align: center;
}
    
